# Бинарные файлы (исполняемые программы)
lab5/src/mutex_without
lab5/src/mutex_with
lab5/src/factorial
lab5/src/deadlock
lab5/src/deadlock_fixed

# Объектные файлы
*.o
*.out
*.exe

# Отладочная информация
*.dSYM/
*.dwarf

# Временные файлы редактора
*~
*.swp
*.swo
.vscode/
.idea/

# Системные файлы
.DS_Store
Thumbs.db